<?xml version="1.0" encoding="UTF-8"?>
<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData"
                     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0">
  <processing-directives>
    <overwrite-existing-data>true</overwrite-existing-data>
  </processing-directives>

  <schedule>
    <!--<job>
      <name>TestJob</name>
      <group>TestJobGroup</group>
      <description>Message Hint job for Quartz Server</description>
      <job-type>Kemai.MSG.Business.Jobs.TestJob, Kemai.MSG.Business</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <cron>
        <name>TestJobTrigger</name>
        <group>TestJobGroup</group>
        <description>cron trigger to simply fire sample job</description>
        <job-name>TestJob</job-name>
        <job-group>TestJobGroup</job-group>
        <misfire-instruction>SmartPolicy</misfire-instruction>
        <cron-expression>0/3 * * ? * *</cron-expression>
      </cron>
    </trigger>-->

  <job>
    <name>PayReverseJob</name>
    <group>PayReverseJobGroup</group>
    <description>Pay Reverse job for Quartz Server</description>
    <job-type>Kemai.MSG.Business.Jobs.PayReverseJob, Kemai.MSG.Business</job-type>
    <durable>true</durable>
    <recover>false</recover>
  </job>

  <trigger>
    <cron>
      <name>PayReverseJobTrigger</name>
      <group>PayReverseJobTriggerGroup</group>
      <description>cron trigger to simply fire sample job</description>
      <job-name>PayReverseJob</job-name>
      <job-group>PayReverseJobGroup</job-group>
      <misfire-instruction>SmartPolicy</misfire-instruction>
      <cron-expression>0/20 * * ? * *</cron-expression>
    </cron>
  </trigger>

  <job>
    <name>PayDealJob</name>
    <group>PayDealJobGroup</group>
    <description>Pay deal job for Quartz Server</description>
    <job-type>Kemai.MSG.Business.Jobs.PayDealJob, Kemai.MSG.Business</job-type>
    <durable>true</durable>
    <recover>false</recover>
  </job>

  <trigger>
    <cron>
      <name>PayDealJobTrigger</name>
      <group>PayDealJobTriggerGroup</group>
      <description>cron trigger to simply fire sample job</description>
      <job-name>PayDealJob</job-name>
      <job-group>PayDealJobGroup</job-group>
      <misfire-instruction>SmartPolicy</misfire-instruction>
      <cron-expression>0 0/1 * * * ?</cron-expression>
    </cron>
  </trigger>
    
  </schedule>
  
</job-scheduling-data>