<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>

    <behaviors>
      <endpointBehaviors>
        <behavior name="endpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingConfig" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" maxBufferSize="2147483647"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          useDefaultWebProxy="true" />
        <binding name="OSSServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="AppWCFService_BindingConfig"
                receiveTimeout="00:10:00" closeTimeout="0:01:00" openTimeout="00:00:10" sendTimeout="00:00:10"
                maxBufferPoolSize="21474836471"
                maxReceivedMessageSize="2147483647"
                maxBufferSize="2147483647" transferMode="Buffered"
				useDefaultWebProxy="false">
          <readerQuotas maxDepth="64"
                        maxStringContentLength="2147483647"
                        maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647" />
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
      
      <netTcpBinding>
        <binding name="netTcpBindingConfig" openTimeout="00:00:20" closeTimeout="00:00:20" sendTimeout="00:00:20" 
                 receiveTimeout="00:00:20"
                 maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647"
                 maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None"/>
        </binding>
      </netTcpBinding>

      <ws2007HttpBinding>
        <binding name="wsHttp2007BindConfig" receiveTimeout="00:10:00" openTimeout="00:10:10" closeTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </ws2007HttpBinding>
    </bindings>

    <client>
      <endpoint address="net.tcp://weixin-test.kemai.com.cn:16901/KMMicro_WCF/MicroDuplexService.svc"
        binding="netTcpBinding" bindingConfiguration="netTcpBindingConfig"
        contract="Kemai.O2O.Contract.IToOnlineService"
        name="IToOnlineService" />


      <endpoint   address="http://weixin-test.kemai.com.cn/KMMicro_WCF/MicroWCFService.svc"
                  name="IBaseSysService"
                  binding="ws2007HttpBinding"
                  bindingConfiguration="wsHttp2007BindConfig"
                  contract="Kemai.O2O.Contract.IBaseSysService"
                  behaviorConfiguration="endpointBehavior"/>
      <endpoint address="http://weixin-test.kemai.com.cn/KMMicro_WCF/OfflineMallService.svc"
                name="IOfflineMallService"
                binding="ws2007HttpBinding"
                bindingConfiguration="wsHttp2007BindConfig"
                contract="Kemai.O2O.Contract.Mall.IOfflineMallService"
                behaviorConfiguration="endpointBehavior"/>
      <endpoint address="http://weixin-test.kemai.com.cn/KMMicro_WCF/OfflineCratingService.svc"
                name="IOfflineCratingService"
                binding="ws2007HttpBinding"
                bindingConfiguration="wsHttp2007BindConfig"
                contract="Kemai.O2O.Contract.Crating.IOfflineCratingService"
                behaviorConfiguration="endpointBehavior"/>
      <endpoint address="http://weixin-test.kemai.com.cn/KMMicro_WCF/PayServices.svc"
                name="IPayServices"
                binding="basicHttpBinding"
                bindingConfiguration="AppWCFService_BindingConfig"
                contract="Kemai.O2O.Contract.IPayServices"
                behaviorConfiguration="endpointBehavior"/>
      <endpoint address="http://weixin-test.kemai.com.cn/KMMicro_WCF/OfflineMarketingService.svc"
              name="IOfflineMarketingService"
              binding="ws2007HttpBinding"
              bindingConfiguration="wsHttp2007BindConfig"
              contract="Kemai.O2O.Contract.Marketing.IOfflineMarketingService"
              behaviorConfiguration="endpointBehavior"/>
    </client>

  </system.serviceModel>
</configuration>