<?xml version="1.0"?>
<configuration>
  <configSections>
	<section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="Config/Log4Net.xml" />
      </factoryAdapter>
    </logging>
  </common>
  
  <!--调度作业-->
  <quartz>
    <!--Configuration section has precedence-->
    <add key="quartz.scheduler.instanceName" value="ServerScheduler"/>
    <!--configure thread pool info-->
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool,Quartz"/>
    <add key="quartz.threadPool.threadCount" value="2"/>
    <add key="quartz.threadPool.threadPriority" value="Normal"/>

    <!--job initialization plugin handles our xml reading, without it defaults are used-->
    <add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin,Quartz"/>
    <add key="quartz.plugin.xml.fileNames" value="~/Config/quartz_jobs.config"/>

    <!--export this server to remoting context-->
    <add key="quartz.scheduler.exporter.type" value="Quartz.Simpl.RemotingSchedulerExporter,Quartz"/>
    <add key="quartz.scheduler.exporter.port" value="555"/>
    <add key="quartz.scheduler.exporter.bindName" value="QuartzScheduler"/>
    <add key="quartz.scheduler.exporter.channelType" value="tcp"/>
    <add key="quartz.scheduler.exporter.channelName" value="httpQuartz"/>
  </quartz>
  
  <appSettings>
    <add key="WCFServiceConfigPath" value="Config\WX.WCF.TEST.config" />
    <!--嵌入百度地址，获取经纬度-->
    <add key="chooseAddress" value="http://weixin-test.kemai.com.cn/KMWeixin/map/map_baidu.html" />
    <!--微平台地址-->
    <add key="weixinDomain" value="http://weixin-test.kemai.com.cn/KMWeixin" />
    <!--通讯助手-线下服务默认端口8091-->
    <add key="defaultPort" value="8091" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="client2codeaddress" value="http://weixin-test.kemai.com.cn/WX_Food/food/view/foodConfig.html?actv=food&amp;id={0}&amp;br={1}&amp;tp=2&amp;tb={2}"/>
    <add key="RichMessageUrl" value="http://weixin-test.kemai.com.cn/KMWeixin/Mobile/" />
    <add key="CardDefaultPicUrl" value="http://weixin-test.kemai.com.cn/KMWeixin/img/card/cardDefault.jpg" />
    <add key="ServerArea" value="http://weixin-test.kemai.com.cn/KMMicro_WCF/index.html"/>
    <!--文件是否启用加密模式-->
    <add key="IsEncryption" value="False"/>

    <!--设置自动启动程序名称-->
    <add key="StartAssemblyName" value="Kemai.MSG.Assistant.exe"/>
  </appSettings>


  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="OSSServiceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="OSSServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IOSSWCFService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://oss.kemai.cn/osswcf/OSS/OSSWCFService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOSSWCFService" contract="ThirdPartyImp_Serial.IOSSWCFService" name="WSHttpBinding_IOSSWCFService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://oss.kemai.com.cn/ws/OSSService.asmx" binding="basicHttpBinding" bindingConfiguration="OSSServiceSoap" contract="ThirdPartyImp_Orgn.OSSServiceSoap" name="OSSServiceSoap" />
    </client>
  </system.serviceModel>



  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>